* {
    box-sizing: border-box;
}
body {
    background-color: #2d197c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;

    /* 下の余白を消したい。けどわからない */
    position: absolute;
    top: 30%;
}
/* タイトル〜追加ボタンまで */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.type_tasks {
    display: flex;
    justify-content: space-between;
    width: 685px;
}
.textbox {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.textbox:focus {
    outline: none;
}
.new_textbox {
    width: 555px;
    height: 35px;
}
.btn {
    background-color: white;
    border-radius: 5px;
    width: 60px;
    height: 37px;
    font-weight: bold;
    transition: 0.5s;
}
.btn:hover {
    color: white;
}
.btn_add {
    border: 2.5px solid #dc70fa;
    color: #dc70fa;
}
.btn_add:hover {
    background-color: #dc70fa;
}

/* テーブル */
table {
    margin: 0px auto;
    width: 635px;
    table-layout: fixed;
    text-align: center;
}
table tr {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}
table thead th {
    padding: 20px 0;
    /* text-align: center; */
    width: 100%;
}

/* テーブル内のforeachでループさせる部分 */
.listed_textbox {
    height: 27px;
    width: 240px;
}
.btn_update {
    border: 2.5px solid #fa9770;
    color: #fa9770;
}
.btn_update:hover {
    background-color: #fa9770;
}
.btn_delete {
    border: 2.5px solid #71fadc;
    color: #71fadc;
}
.btn_delete:hover {
    background-color: #71fadc;
}

@media screen and (max-width: 768px) {
    .container {
        width: 30%;
    }
    .new_textbox {
        width: 20%;
    }
    .listed_textbox {
        width: 10%;
    }
}
